html,
body {
	font-family: "PT Sans", serif;
	font-size: 14px;
	color: #333333;
	line-height: 26px;
}

.visually-hidden h1 {
	font-size: 26px;
	color: #333333;
	line-height: 26px;
	font-weight: bold;
}

.preview-header {
	font-size: 21px;
	color: #333333;
	line-height: 26px;
	font-weight: bold;
}
 