html,
body {
	margin: 0 auto;
	padding: 0;

	min-width: 1200px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;

	color: #333333;
	background-color: #f2f2f2;
}

.container {
	margin: 0px;
	padding: 0px;
	margin: 0 auto;

	width: 1200px;

	background-color: #ffffff;
	-webkit-box-shadow: 5px 0px 15px 0 rgba(0,0,0,0.2);
	box-shadow: 5px 0px 15px 0 rgba(0,0,0,0.2);
}

.visually-hidden {
	position: absolute;

	margin: -1px;
	padding: 0;
	border: 0;

	width: 1px;
	height: 1px;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.preview-header {
	font-size: 21px;
	line-height: 26px;

	color: #333333;
	font-weight: bold;
}

a {
	text-decoration: none;
}

.main-menu,
.advices,
.social,
.hotel-filters,
.hotel-filters-living,
.sorting {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

.main-nav a {
	color: #000000;
	font-weight: bold;

	line-height: 26px;
}


.sedona-city-block,
.sedona-bridge-block {
	width: 33%;
	text-align: center;

	background-color: #81b3d2;
	color: #ffffff;
}

.sedona-city-image {
	width: 66%;
	height: 256px;
}

.preview {
	text-align: center;
}

.advantages {
	text-align: center;
}

.feature-sedona {
	background-color: #eeeeee;
	text-align: center;
}

.search-form {
	text-align: center;
}

.search-sedona {
	font-size: 21px;
	font-weight: bold;

	color: #ffffff;
	background-color: #766357;
}

.search-sedona a:hover,
.search-sedona a:focus {
	background-color: #604e43;
}

.search-sedona:active {
	color: #928a85;
	background-color: #503e33;
}

.search-form-block form {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;

	color: #000000;
}

.date-in-block input,
.date-out-block input {
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: bold;

	cursor: pointer;

	background-color: #f2f2f2;
}

.date-in-block input:hover,
.date-out-block input:hover {
	font-weight: bold;
	background-color: #ebebeb;
}

.date-in-block input:focus,
.date-out-block input:focus {
	font-weight: bold;
	background-color: #ffffff;
}

.date-in-block a path,
.date-out-block a path {
	fill: rgba(0, 0, 0, 0.3);
}

.date-in-block a:focus path,
.date-in-block a:hover path,
.date-out-block a:focus path,
.date-out-block a:hover path {
	fill: #000000;
}

.date-in-block a:active path,
.date-out-block a:active path {
	fill: #81b3d2
}

.adults-number input,
.childs-number input {
	font-family: "PT Sans", Arial, sans-serif;

	text-align: center;
	cursor: pointer;

	background-color: #f2f2f2;
}

.minus-adults:hover::before,
.minus-adults:focus::before,

.plus-adults:hover::after,
.plus-adults:hover::before,
.plus-adults:focus::after,
.plus-adults:focus::before,

.minus-childs:focus::before,
.minus-childs:hover::before,

.plus-childs:hover::after,
.plus-childs:hover::before,
.plus-childs:focus::after,
.plus-childs:focus::before {
	background-color: #000000;
}

.minus-adults:active::before,

.plus-adults:active::after,
.plus-adults:active::before,

.minus-childs:active::before,

.plus-childs:active::after,
.plus-childs:active::before {
	background-color: #81b3d2;
}

.button:hover,
.button:focus {
	background-color: #669ec0;
}

.button:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.copyright-logo:focus path,
.copyright-logo:hover path {
	fill: #81b3d2;
}

.copyright-logo:active path {
	fill: #bdbbbc;
}

.filter-option input {
	color: #ffffff;
}

.social-button:focus,
.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path {
	fill: #88b6d1;
}

.main-menu a:hover,
.main-menu a:focus {
	color: #81b3d2;
}

.main-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}

.sorting a {
	color: rgba(0, 0, 0, 0.3);
	-webkit-text-decoration: #81b3d2 underline dotted;
	text-decoration: #81b3d2 underline dotted;
}

.sorting a:hover,
.sorting a:focus {
	color: #81b3d2;
	-webkit-text-decoration: #81b3d2 underline dotted;
	text-decoration: #81b3d2 underline dotted;
}

.sorting a:active {
	text-decoration: none;
	color: #000000;
}

.hotel-info a {
	color: #000000;
}

.hotel-info a:hover,
.hotel-info a:focus {
	color: #81b3d2;
}

.hotel-info a:active {
	color: rgba(0, 0, 0, 0.3);
}

.sort-buttons a path {
	fill: rgba(0, 0, 0, 0.3);
}

.sort-buttons a:hover path,
.sort-buttons a:focus path {
	fill: #000000;
}

.sort-buttons a:active path {
	fill: #81b3d2;
}

.reserve-buttons a {
	display: inline-block;

	vertical-align: top;

	color: #ffffff;
	background-color: #81b3d2;
}

.reserve-buttons a:focus,
.reserve-buttons a:hover {
	color: #ffffff;
	background-color: #669ec0;
}

.reserve-buttons a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.reserve-buttons .reserve {
	color: #ffffff;
	background-color: #766357;
}

.reserve-buttons .reserve:hover,
.reserve-buttons .reserve:focus {
	color: #ffffff;
	background-color: #604e43;
}

.reserve-buttons .reserve:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.main-header {
	margin: 0px;
	padding: 0px;

	width: 1200px;
}

.main-nav {
	position: relative;

	padding-left: 6%;
	padding-right: 6%;
}

.main-menu {
	margin: 0px;
	padding: 0px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.main-menu li {
	width: 240px;

	padding-top: 15px;
	padding-bottom: 15px;
}

.main-menu li:nth-child(1),
.main-menu li:nth-child(2) {
	text-align: left;
}

.main-menu li:nth-child(2) {
	margin-right: 96px;
}

.main-menu li:nth-child(3),
.main-menu li:nth-child(4) {
	text-align: right;
}

.current-page a {
	color: #766357;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	z-index: 3;

	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.main-image {
	position: relative;

	display: block;

	width: 1200px;
	height: 509px;
}

.main-image :last-child {
	position: absolute;

	top: 451px;
	right: 0px;

	display: block;
}

.preview {
	margin: 0px;
	padding: 0px;

	width: 1200px;
}

.preview h2 {
	margin: 0px;
	padding: 0px;

	margin-top: 58px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;

	width: 443px;

	font-size: 21px;
	line-height: 26px;
}

.preview p {
	margin: 0px;
	padding: 0px;
	margin-bottom: 53px;
}

.feature-sedona-city {
	width: 1200px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sedona-city-block {
	margin: 0px;
	padding: 0px;

	width: 400px;
}

.sedona-city-image {
	width: 800px;
}

.sedona-city-block h3 {
	margin: 0px;
	padding: 0px;

	margin-top: 48px;
	margin-bottom: 22px;
	margin-left: auto;
	margin-right: auto;

	font-size: 21px;
	line-height: 21px;

	width: 124px;
}

.sedona-city-block span {
	display: block;

	margin-bottom: 22px;
	margin-left: auto;
	margin-right: auto;
}

.sedona-city-block p {
	margin: 0px;
	padding: 0px;

	width: 282px;

	margin-left: auto;
	margin-right: auto;
}

.advantages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 1200px;

	margin-top: 60px;
	margin-bottom: 82px;
	padding: 0px;
}

.advices {
	margin: 0px;
	padding: 0px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;

	width: 1200px;
}

.advices li {
	width: 33.3333%;
}

.advices svg {
	width: 74px;
	height: 70px;
}

.sedona-hotel svg {
	padding-top: 2px;
}

.sedona-food svg {
	padding-right: 12px;
	padding-top: 2px;
}

.souvenirs svg {
	width: 64px;
	height: 76px;
}

.advices span {
	margin: 0px;
	padding: 0px;
	margin-bottom: 25px;

	height: 76px;

	display: block;
}

.advices h4 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 24px;

	font-size: 21px;
	line-height: 21px;
}

.sedona-hotel p {
	margin: 0px;
	margin-right: auto;
	margin-left: auto;

	width: 255px;
}

.sedona-food p {
	margin: 0px;
	margin-right: auto;
	margin-left: auto;

	width: 300px;
}

.souvenirs p {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;

	width: 275px;
}

.feature-sedona-bridge {
	margin: 0px;
	padding: 0px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 1200px;
}

.sedona-bridge-image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 800px;
}

.sedona-bridge-block {
	width: 400px;
}

.sedona-bridge-block h3 {
	margin: 0px;
	padding: 0px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
	margin-bottom: 23px;

	font-size: 21px;
	line-height: 21px;
	width: 155px;
}

.sedona-bridge-block span {
	display: block;

	margin-bottom: 22px;
	margin-left: auto;
	margin-right: auto;
}

.sedona-bridge-block p {
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;

	width: 302px;

}

.feature-sedona {
	margin: 0px;
	padding: 0px;
	padding-top: 47px;
	padding-bottom: 60px;
	width: 1200px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.feature-sedona-item {
	margin: 0px;
	padding: 0px;
	width: 33.3333%;
}

.feature-sedona-item h3 {
	margin: 0px;
	padding:0px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;

	font-size: 21px;
	line-height: 21px;
	width: 124px;
}

.feature-sedona-item span {
	margin: 0px;
	margin-bottom: 22px;
	margin-left: auto;
	margin-right: auto;

	display: block;
}

.feature-sedona-item p {
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;

	width: 280px;
}

.search-form {
	margin: 0px;
	padding: 0px;
	margin-top: 49px;

	width: 1200px;
}

.search-form h2 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 23px;

	font-size: 30px;
	line-height: 36px;
}

.search-form p {
	margin: 0px;
	padding: 0px;
	margin-bottom: 48px;

	line-height: 24px;
}

.search-form-block {
	position: relative;

	margin: 0 auto;
	padding: 0px;

	width: 571px;

	background-color: #ffffff;
	color: #000000;
}

.search-form-block a {
	position: relative;

	z-index: 3;
	display: block;

	font-size: 21px;
	line-height: 26px;

	background-color: #766357;
	color: #ffffff;

	padding-top: 30px;
	padding-bottom: 31px;

	width: 571px;
}

.form-info {
	position: absolute;

	z-index: 2;
	top: 86px;

	width: 100%;

	background-color: #ffffff;

	padding-top: 54px;
	padding-bottom: 53px
}

.form-hide {
	display: none;
}

.form-show {
	display: block;
	animation: bounce 0.6s;
}

@keyframes bounce {
0% {
	-webkit-transform: translateY(30px);
	transform: translateY(-30px);
}

70% {
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
}

90% {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
}

.form-align {
	margin: 0px;
	padding: 0px;
	margin-left: 58px;
	margin-top: 2px;

	text-align: left;
}

.form-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;

	margin-bottom: 54px;
}

.adults-number,
.childs-number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.search-form-block-adults,
.search-form-block-childs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.date-in-block label,
.date-out-block label {
	padding: 0px;
	margin: 0px;
	padding-top: 5px;

	display: inline-block;
	vertical-align: top;


	font-size: 14px;
	line-height: 26px;

	width: 108px;
}

.search-form-block-adults label {
	display: inline-block;

	vertical-align: top;

	padding: 0px;
	margin: 0px;
	padding-top: 8px;

	width: 112px;
}

.search-form-block-childs label {
	display: inline-block;

	vertical-align: top;

	margin-right: 26px;
	margin-top: 8px;
}

.search-form-block-childs {
	margin-left: 53px;
}

.date-in-block,
.date-out-block {
	position: relative;
}

.date-in-block input,
.date-out-block input {
	padding: 0px;
	margin: 0px;

	margin-bottom: 26px;
	padding-left: 13px;
	padding-right: 37px;

	font-size: 14px;
	line-height: 26px;

	width: 296px;
	height: 38px;

	border: none;
	text-transform: uppercase;
}

.date-in-block a,
.date-out-block a {
	margin: 0px;
	padding: 0px;

	position: absolute;
	top: 8px;
	left: 429px;

	display: inline-block;
	width: 28px;
	height: 28px;

	background-color: transparent;
}

.adults-number input,
.childs-number input {
	margin: 0px;
	padding: 0px;

	width: 40px;
	height: 38px;

	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	border: none;
}

.minus-adults {
	position: relative;

	margin: 0px;
	padding: 0px;

	width: 37px;
	cursor: pointer;
}

.minus-adults::before {
	content: "";
	position: absolute;

	top: 50%;
	left: 13px;

	width: 11px;
	height: 3px;

	background-color: #c6c6c6;
}

.plus-adults {
	position: relative;

	margin: 0px;
	padding: 0px;

	width: 37px;
	cursor: pointer;
}

.plus-adults::after {
	content: "";
	position: absolute;

	top: 50%;
	left: 13px;

	width: 11px;
	height: 3px;

	background-color: #c6c6c6;
}

.plus-adults::before {
	content: "";
	position: absolute;

	top: 50%;
	left: 13px;

	width: 11px;
	height: 3px;

	background-color: #c6c6c6;

	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.minus-childs {
	position: relative;

	margin: 0px;
	padding: 0px;

	width: 37px;
	cursor: pointer;
}

.minus-childs::before {
	content: "";
	position: absolute;

	top: 50%;
	left: 13px;

	width: 11px;
	height: 3px;

	background-color: #c6c6c6;
}

.plus-childs {
	position: relative;

	margin: 0px;
	padding: 0px;

	width: 37px;
	cursor: pointer;
}

.plus-childs::after {
	content: "";
	position: absolute;

	top: 50%;
	left: 13px;

	width: 11px;
	height: 3px;

	background-color: #c6c6c6;
}

.plus-childs::before {
	content: "";
	position: absolute;

	top: 50%;
	left: 13px;

	width: 11px;
	height: 3px;

	background-color: #c6c6c6;

	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.button {
	display: inline-block;

	vertical-align: top;

	padding: 17px 196px;
	border: none;
	width: 458px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;

	background-color: #81b3d2;
	color: #ffffff;
	cursor: pointer;
}

.modal-map {
	margin: 0px;
	padding: 0px;

	width: 1200px;
	height: 593px;

	background: #fefefe url("../img/map.jpg") no-repeat;
}

.modal-map iframe {
	margin: 0px;
	padding: 0px;

	width: 1200px;
	height: 593px;
}

.main-footer {
	margin: 0px;
	padding: 0px;
	width: 1200px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-footer-index {
	position: relative;
	margin-top: -120px;
	background-color: rgba(255, 255, 255, 0.9);
}


.hashtag {
	margin: 0px;
	padding: 0px;

	padding-top: 45px;
	padding-bottom: 52px;

	width: 33.3333%;

	text-align: center;
	font-weight: bold;
	font-size: 21px;
}

.hashtag p {
	margin: 0px;
	padding: 0px;

	font-size: 21px;
	line-height: 26px;
}

.footer-social {
	margin: 0px;
	padding: 0px;

	padding-top: 35px;
	padding-bottom: 36px;
	width: 33.33333%;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.social {
	margin: 0 auto;
	padding: 0px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-box-pack: justify;
  	-ms-flex-pack: justify;
  	justify-content: space-between;

	width: 152px;
}

.social-button {
	margin: 0px;
	padding: 0px;

	width: 46px;
	height: 48px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	background-color: #81b3d2;
}

.footer-copyright {
	margin: 0px;
	padding: 0px;
	padding-top: 38px;
	padding-bottom: 39px;

	width: 33.3333%;
	text-align: center;
}

.footer-copyright {
	line-height: 26px;
}

.copyright-logo {
	display: inline-block;

	width: 116px;
	height: 41px;

	vertical-align: middle;
}

.website {
	display: inline-block;

	color: #000000;

	padding-right: 4px;
	vertical-align: middle;
}

.hotel-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 1200px;

	margin: 0px;
	padding: 0px;

	background: #5496bd url("../img/background-photo-sedona-hotel.jpg") no-repeat center;
	background-size: cover;
}

.filter {
	margin: 0px;
	padding: 0px;
	padding-top: 27px;
	padding-bottom: 31px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #ffffff;

	font-size: 14px;
	line-height: 21px;
}

.info {
	margin: 0px;
	padding: 0px;
	margin-left: 72px;

	width: 255px;
}

.info h3 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 23px;

	font-size: 16px;
	line-height: 21px;
}

.hotel-filters {
	margin: 0px;
	padding: 0px;
}

.filter-option label {
	cursor: pointer;
}

.filter-option {
	margin: 0px;
	padding: 0px;
	margin-bottom: 24px;
}

.filter-option:last-child {
	margin-bottom: 0px;
}

.living-type-living {
	margin: 0px;
	padding: 0px;

	width: 288px;
}

.hotel-filters-living {
	margin: 0px;
	padding: 0px;
}

.living-type-living h3 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 25px;
}

.scale-bar-price-title h3 {
	margin: 0px;
	padding: 0px;
	margin-bottom: -3px;

	font-size: 16px;
	line-height: 21px;
}

input[type="checkbox"] {
	opacity: 0;
}

input[type="checkbox"] + label {
	position: relative;
	padding-left: 39px;
}

input[type="checkbox"]:checked + label::before {
	content: " ";

	width: 25px;
	height: 25px;

	position: absolute;
	top: 0;
	left: 0;

	background: url("../img/checkbox-on.svg") no-repeat;
}

input[type="checkbox"] + label::after {
	content: " ";

	width: 25px;
	height: 25px;

	position: absolute;
	top: 0;
	left: 0;

	background: url("../img/checkbox-off.svg") no-repeat;
}

input[type="checkbox"]:focus + label::after {
	outline: rgb(59, 153, 252) auto 5px;
}

.scale-bar-price {
	margin: 0px;
	padding: 0px;
	margin-left: 195px;

	width: 318px;

	color: #ffffff;
	text-transform: uppercase;
}

.scale-bar-price-title {
	margin: 0px;
	padding: 0px;
 	margin-bottom: 13px;

 	font-weight: 600;
 	font-size: 16px;
 	line-height: 21px;
}

.price-range {
	position: relative;

	height: 32px;
	margin-bottom: 20px;

	font-size: 0px;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-range::after {
	content: "";

	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.price-range label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;

	vertical-align: top;

	cursor: pointer;
}

.price-range .min-price,
.price-range .max-price {
	width: 82px;

	padding-left: 65px;

	line-height: 32px;
}

.price-range input {
	width: 50px;

	margin: 0;
	padding: 0;

	height: 32px;
	color: inherit;
	font: inherit;

	background: none;
	border: none;
 }

.range-controller {
	position: relative;
	margin-bottom: 32px;
}

.range-controller .scale-bar {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controller .scale-bar-active {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;

	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

	cursor: pointer;
}

.range-controller:hover {
 	background: #1c4f80;
}

.toggle-min {
 	left: 0;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 34px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	margin-left: 85px;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}

.toggle-max {
 	left: 80%;
}

.btn-form {
	border: none;
	width: 37px;
	background-color: #f2f2f2;
}

.price-range label {
	display: inline-block;

	vertical-align: top;
	line-height: 32px;
}

.results {
	margin: 0px;
	padding: 0px;
	padding-top: 30px;
	padding-bottom: 31px;

	width: 1200px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}

.results-block {
	margin: 0px;
	padding: 0px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	font-size: 12px;
	line-height: 18px;
}

.results > span {
	margin: 0px;
	padding: 0px;
	margin-left: 73px;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.sorting {
	margin: 0px;
	padding: 0px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 488px;
}

.sorting li {
	padding-right: 32px;
}

.sorting li:first-child {
	padding-left: 40px;
}

.results-block > span {
	margin-left: 52px;
}

.sort-buttons {
	margin: 0px;
	padding: 0px;
	margin-left: 88px;
}

.sort-buttons a:first-child {
	padding-left: 206px;
	margin-right: 10px;
}

.active a {
	color: #81b3d2;
	text-decoration: none;
}

.active svg path {
	fill: #81b3d2;;
}

.hotel-searchresult {
	width: 100%;

	margin: 0px;
	padding: 0px;
	margin-bottom: 29px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	border-top: 1px solid #dbd4d8;
}

.hotel-searchresult-image img {
	display: block;

	padding-left: 73px;
}

.hotel-searchresult-image img {
	padding-top: 29px;
}

.hotel-info {
	margin: 0px;
	margin-top: 26px;
	margin-left: 28px;

	width: 653px;
}

.reserve-buttons a {
	padding-top: 3px;
	padding-bottom: 3px ;
	padding-left: 16px;
	padding-right: 17px;
	margin-right: 5px;

	font-weight: bold;
}

.type-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	width: 182px;
	padding-bottom: 14px;
}

.hotel-info h3 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 8px;

	font-size: 21px;
	line-height: 26px;
}

.hotel-searchresult:last-child {
	margin-bottom: 0px;
	padding-bottom: 29px;
	border-bottom: 1px solid #dbd4d8;
}

.rate {
	width: 125px;

	margin: 0px;
	margin-left: 114px;
}

.rate-wrapper {
	margin: 0px;
	margin-top: 30px;

	width: 125px;

	text-align: right;
}

.rate-wrapper span {
	padding-right: 1px;
}

.rate-mark {
	margin: 0px;
	padding: 0px;

	margin-top: 40px;
	margin-left: 15px;
	padding-top: 3px;
	padding-bottom: 3px;

	width: 110px;

	text-align: center;
	background-color: #f2f2f2;
}